h1,
h2 {
  margin: 0;
}

text {
  font-weight: bold;
  font-size: 20px;
}

.container {
  display: flex;
}

.left-nav,
.right-nav {
  display: flex;
  flex: 1;
}

.game {
  padding-top: 25px;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  color: #3d4b6b;
}

.title-container {
  display: flex;
  justify-content: center;
}

.controls-container {
  display: flex;
}

.gaph-container {
  display: flex;
  justify-content: center;
}

.gaph {
  background-color: #64c8e6;
  border-radius: 15px;
}

.rules-container {
  padding-top: 10px;
}
