h1,
h2 {
  margin: 0;
}

@media (max-width: 700px) {
  h1 {
    font-size: 33px;
  }
  h2 {
    font-size: 22px;
  }
}

text {
  font-weight: bold;
  font-size: 20px;
}

.container {
  display: flex;
}

.left-nav,
.right-nav {
  display: flex;
  flex: 1;
}

.game {
  padding-top: 10px;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  color: #3d4b6b;
}

.title-container {
  display: flex;
  justify-content: center;
}

.controls-container {
  display: flex;
  margin-bottom: 10px;
}

.controls-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.controls-left {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.button {
  background-color: #64c8e6;
  border-radius: 10px;
  padding: 0 20px;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #3d4b6b;
}

.button-start {
  background-color: #64c8e6;
  border-radius: 10px;
  padding: 0 20px;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #3d4b6b;
  font-size: 20px;
  margin-top: 20px;
}

.button-start:hover,
.button:hover {
  cursor: pointer;
  background-color: #57b0cb;
  transition: background-color 0.5s ease;
}

.gaph-container {
  display: flex;
  justify-content: center;
}

.gaph {
  background-color: #64c8e6;
  border-radius: 15px;
}

.game-over {
  color: white;
  border-radius: 15px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

circle:hover {
  cursor: pointer;
}

.rules-container {
  padding-top: 10px;
}
