h1,
h2 {
  margin: 0;
}

text {
  font-weight: bold;
  font-size: 20px;
}

.container {
  display: flex;
}

.left-nav,
.right-nav {
  display: flex;
  flex: 1;
}

.game {
  padding-top: 25px;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  color: #3d4b6b;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.controls-container {
  display: flex;
  margin-bottom: 10px;
}

.controls-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.controls-left {
  display: flex;
  flex: 1;
}

.button {
  background-color: #64c8e6;
  border-radius: 10px;
  padding: 0 20px;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
}

.gaph-container {
  display: flex;
  justify-content: center;
}

.gaph {
  background-color: #64c8e6;
  border-radius: 15px;
}

.rules-container {
  padding-top: 10px;
}
